# Dockerignore file

# Ignore node_modules, as they will be installed within the Docker image
node_modules

# Ignore Next.js build output directory
.next

# Ignore local environment files
.env*.local
.env

# Ignore development specific files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore OS-specific files
.DS_Store
*.pem

# Ignore version control folder
.git

# Ignore TypeScript build info
*.tsbuildinfo

# Vercel directory
.vercel